


/* .card {
    width: 70%;
    padding: 20px;
}

.title-card {
    float: left;
    width: 90%;
    margin: 10px auto;
}

.stats-card {
width: 90%;
float: left;
margin: 10px auto;
}

.card-img {
    margin: 10px;
}



.pokeCard-img {
    height: 50%;
    width: 50%;
    float: left;
}
 */
